.admin{
    width: 60%;
    margin: 30px auto;
    border-radius: 12px;
    border: 1px solid black;
    padding: 30px;
}

.adminInput{
    height: 45px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.adminButton{
    width: 200px;
    height: 35px;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.admin .ant-input-group-addon{
    width: 170px;
    height: 45px;
}

.admin .ant-input{
    height: 45px;
    font-size: 18px;
}